<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c9bded5-da24-4889-b832-d1e2b22c3c6a" Alias="Test page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestPage</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2026-03-11T16:59:17</CreateDate>
    <NodeName Default="Test page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019cddd6-01ea-7d05-aab4-d3659c6cedae">Content</Template>
  </Info>
  <Properties />
</Content>