<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d6ef8506-2b92-4211-a5c4-8ea8d65e371d" Alias="content" Level="1">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cddd6-01ea-7d05-aab4-d3659c6cedae">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>